.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
  }
  
  .accordion:hover, .accordion.active {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: black;
    color: white;
    font-size: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  .panel.active {
    max-height: 80vh; /* Adjust as needed for your content */
    overflow-y: scroll;
  }
  
  p {
    margin-block: 10px;
  }