svg {
  /* width: 30px;
  height: 30px; */
}

.accordion {
  background-color: #eee;
  color: var(--color-white);
  /* text-shadow: 0 0 12px black; */
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: var(--fs-600);
  font-family: var(--ff-david-vc);
  font-weight: 500;
  /* transition: 0.4s; */

  flex-grow: 1;
  /* background-image: url(../images/tiger0.png); */
}

.accordion:hover,
.accordion.active {
  background-color: #ccc;
}

.accordion.active {
  /* color: red; */
  top: 0;
  position: sticky;
}

.panel {
  padding: 0 18px;
  /* background-color: black; */
  color: white;
  font-size: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition-property: max-height, max-width, padding;
}

.panel.active {
  max-height: 80vh; /* Adjust as needed for your content */
  overflow-y: scroll;
}

p {
  margin-block: 10px;
}

.panel {
  color: #222;
  text-wrap: balance;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* gap: 2em; */

  section.articleWrapper {
    /* max-width: 600px; */
    /* max-width: 100%; */
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: center;
    flex-shrink: 0;

    header {
      /* display: flex;
      flex-flow: column nowrap;
      gap: 1em; */
      h1 {
        /* font: bold 4em/0.8em var(--typeface-serif); */
      }

      h2 {
        /* font: normal 1.5em/1em var(--typeface-serif); */
      }

      h3 {
        /* font: normal 0.8em/1em var(--typeface-sans); */
      }
    }

    aside {
      background-color: #4b875c;
      display: flex;
      flex-flow: column nowrap;
      gap: 1em;
      padding: 2em;
      line-height: 1em;
      margin-inline: -18px;

      h1 {
        font: bold 1em/1em "Hadassa";
      }
      main {
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
        padding-inline-start: 1em;
        article {
          h1 {
            font: bold 1em/1em "Hadassa";
            display: inline-block;
            margin-inline-end: 1em;
          }

          p {
            display: inline;
            font: normal 0.8em "DavidVC";

            a {
              font: unset;
              color: unset;
              text-decoration: underline 2px;
              text-underline-offset: 3px;
            }
          }
        }
      }
    }
  }
}

.accordionContainer {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  /* height: 90vh; */
  background-color: var(--color-black);

  & .accordion {
    display: flex;
    position: relative;
    background-color: var(--color-white);


    & .bgContent {
      position: absolute;
      
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      background-image: var(
        --outside-img-horizontal-url,
        url(../images/tiger0.png)
      );

      height: 100%;
      width: 100%;
      flex-grow: 1;

      z-index: 1;

      transition: all 0.25s ease-out;

      &:hover {
        /* scale: 1.1; */
        margin-top: var(--outside-img-margin-top, 0);
      }
    }

    & .textContent {
      width: 100%;
      display: flex;
      position: absolute;
      bottom: 0;
      font-size: 1rem;
      padding: 0.6em;
      /* background-color: var(--color-white); */
      color: var(--color-black);
    }
  }
}

@media (min-aspect-ratio: 1) {
  .accordionContainer {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100%;

    .accordion {
      flex-grow: 1;
      overflow: hidden;
      height: 100%;
      width: auto;
      writing-mode: sideways-lr;
      /* color: transparent; */

      & .bgContent {
        background-image: var(
          --outside-img-vertical-url,
          url(../images/tiger0.png)
        );
      }
    }
  }
  .accordion h1 {
    /* display: none; */
  }

  .panel {
    height: 100%;
    max-width: 0;
    padding-inline: 0;
  }

  .panel.active {
    max-width: 50vw; /* Adjust as needed for your content */
    overflow-y: scroll;
    max-height: 100%;
    /* padding-inline: 16px; */
  }
}
