/* FakePage.module.css */
.censorshipPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  /* display: grid;
    
    grid-template-columns: repeat(6, 1fr); */
}

@media (min-aspect-ratio: 1) {
  .censorshipPage {
    width: 100vw;
    height: 100vh;
  }
}

.imageBar {
  display: flex;
  flex-flow: column nowrap;
  /* width: 1fr; */
  overflow: hidden;
  /* height: 60px; */
  width: 100%;
  position: relative;
  /* transition: all 2s ease-out; */
}

.imageColumn {
  /* flex: none; */
}

.articleContainer {
  display: flex;
  flex-flow: column nowrap;
  /* height: 100vh; */
  width: 100%;
  justify-content: center;
  /* width: 20px; */
  align-items: center;
  /* position: absolute; */
  max-height: 1px;
  /* top: 0; */
  overflow: hidden;
  /* transition: all 2s ease-out; */
}

.show .articleContainer {
  max-height: 300px;
  justify-content: flex-start;
  flex-shrink: 0;
}

.headerImage {
  width: 100%;
  height: 120px;
  /* Additional styles */
  flex-shrink: 0;
}

.imageImg {
  width: 100%;
  /* max-height: 120px; */
}

.imgCont {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* max-height: 100px; */
}

.show .imgCont {
  height: 80px;
}

.show.imageBar {
  flex-shrink: 0;
}

.censorshipPage article {
}

.censorshipPage {
  & .terms {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-green);
    border-radius: 8;
    color: var(--color-black);
    font-family: var(--ff-hadassa);
    padding: 2em;
    gap: 2em;


    & h1 {
      font-family: var(--ff-hadassa);
    }

    & section {
      & .term {
        & h2 {
          font-weight: 700;
        }

        & p {
          font-family: var(--ff-hadassa);
          font-size: var(--fs-300);
        }
      }
    }
  }

  & article {
    padding: 2em;
    color: var(--color-white);
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    padding-top: 4em;
    cursor: default;
    min-height: 100vh;

    & main {
      & .debates {
        position: relative;
        display: flex;

        & .debate {
          position: absolute;
          background-color: var(--color-white);
          color: var(--color-black);
          border-radius: 8px;
          display: flex;
          flex-flow: column nowrap;
          width: 90%;
          background-color: var(--color-white);
          transition: all 0.15s ease-out;
          top: 0;
          right: 0;
          filter: drop-shadow(0 0 3px black);
          padding: 0.2em 1em;
          gap: 1em;

          &.active {
            z-index: 1;
          }

          &:not(.active) {
            top: -40px;
            right: 40px;

            &:hover {
              transform: translate(-4px, -4px);
            }
            
            &:active {
              transform: translate(-8px, -8px);
            }
          }

          &:nth-child(odd) {
            background-color: rgb(203, 203, 203);
          }

          & header {
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;
            gap: 1em;

            & img {
              height: 20px;
              width: 20px;
              border-radius: 50%;
            }

            & h1 {
              font-size: var(--fs-300);
            }
          }

          & main {
            & img {
              height: 60px;
              width: 60px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    & .polls {
      display: flex;
      flex-flow: column nowrap;
      gap: 2em;

      & main {
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
        & section {
          background-color: var(--color-white);
          color: var(--color-black);
          border-radius: 8px;
          filter: drop-shadow(0 0 3px black);
          display: flex;
          flex-flow: column nowrap;
          max-width: 21ch;
          padding: 0.5em;

          & h1 {
            text-align: end;
            direction: ltr;
          }

          & p {
            font-weight: 700;
            line-height: 1.1;
          }
        }
      }
    }

    & header {
      display: flex;
      flex-flow: column nowrap;
      gap: 4em;

      & hgroup {
        display: flex;
        flex-flow: column nowrap;
        /* gap: 0.5em; */

        & h1 {
          font-family: var(--ff-david-vc);
          font-style: italic;
          font-size: var(--fs-700);
          line-height: 1em;
          color: var(--color-green);
          margin-bottom: 0.2em;
        }

        & h2 {
          font-family: var(--ff-narkis-yair);
          font-size: var(--fs-400);
          color: var(--color-green);
        }

        & h3 {
          font-family: var(--ff-narkis-yair);
          font-size: var(--fs-400);

          &::after {
            content: ">>";
            margin-inline-start: 1em;
          }
        }
      }
    }
  }
}

.censorshipPage figure {
  display: flex;
  flex-flow: column nowrap;
}
.censorshipPage figure img {
  /* height: 17em; */
  /* width: auto; */
}

.censorshipPage figure figcaption {
  font-family: var(--ff-narkis-yair);
  font-size: var(--fs-300);
}

.censorshipPage main p {
  font-family: var(--ff-david-vc);
  font-size: var(--fs-400);
  font-weight: 500;
  line-height: 1.6em;
}

.censorshipPage main p b {
  color: #26bd6b;
}

.censorshipPage main p i {
  font-family: var(--ff-narkis-yair);
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.4em;
  text-decoration-thickness: 0.1em;
}
