.comingSoon {
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: black;
  gap: 100px;
  /* font-style: italic; */
  h1 {
    font-family: "DavidVC";
    /* font-weight: normal; */
    font-style: italic;
    font-size: 28px;
  }
}

#morphingPath {
  stroke: none;
  fill: #444;
}
