.kotzPage {
  min-height: 100vh;
  width: 100%;
  /* padding: 7em; */
  display: flex;
  flex-flow: row wrap;
  background: var(--color-dark-black);
  color: var(--color-white);
  /* grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr)); */

  /* grid-template-columns: minmax(auto, 26ch) 1fr; */
  align-content: center;
  align-items: start;
  gap: 3em;
  font: var(--fs-400) var(--ff-david-vc);
  align-content: stretch;
  align-items: start;
  overflow: auto;

  & > .sideInfo {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    flex: 3;
    min-width: 12ch;
    padding: 2em;
    /* max-width: 26ch; */

    & > main {
      display: flex;
      flex-flow: column nowrap;
      gap: 1em;

      & > .aboutBody {
        & > p {
          font-size: var(--fs-700);
          line-height: 1.2em;
          font-weight: 700;
        }
      }

      & > header {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.7em;

        & > h1 {
          font-weight: 800;
        }

        & > h2 {
          font-weight: 400;
        }
      }

      & > nav {
        display: flex;
        flex-flow: column nowrap;

        font-family: var(--ff-narkis-yair);
        font-size: var(--fs-300);
        color: var(--color-black);
      }

      & > footer {
        display: flex;
        flex-flow: row nowrap;
        gap: 2em;
        padding: 0 1em;
      }
    }
  }

  & .gridContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding: 7em 1em;
    border-right: 2px solid var(--color-white);

    .gridItem {
      cursor: pointer;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 2em;
      transition: all 0.4s ease-out;

      &.unpublished {
        cursor: auto;
      }

      & .details {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        gap: 1em;
        margin-inline: 1em;
        flex-shrink: 0;

        & > hgroup {
          display: flex;
          flex-flow: column nowrap;
          gap: 0em;

          & > .issueNumber {
            display: flex;
            flex-flow: row nowrap;
            gap: 0.5em;

            & h2 {
              font-family: var(--ff-narkis-yair);
              display: flex;
              flex-flow: row nowrap;
              gap: 0.3em;
              font-weight: 300;
              line-height: 1;

              &.asterix {
                margin-top: 0.1em;
              }
            }
          }
          & h1 {
            font-weight: 500;
            display: flex;
            flex-flow: row nowrap;
            gap: 0.3em;
            font-family: var(--ff-narkis-yair);
            font-size: var(--fs-600);
            line-height: 1;
          }
        }

        & > .guests {
          display: flex;
          flex-flow: row wrap;
          justify-content: start;
          text-wrap: balance;
          font-size: var(--fs-300);
          max-width: 32ch;
          line-height: 1.3;
          font-family: var(--ff-david-vc);

        }
      }

      & > .imgContainer {
        transition: all 0.1s ease-out;
        &:hover {
          scale: 1.1;
        }

        &:active {
          scale: 1.2;
        }
      }

      & p {
        /* font-family: var(--ff-narkis-yair); */
        margin: 0;

        &:not(:last-child)::after {
          content: "*";
          margin: 0 0.3em;
          display: inline-block;
        }
      }
    }
  }
}

.header {
  text-align: center;
}

@media (max-aspect-ratio: 1) {
  .kotzPage {
    padding: 4em 3em;
  }
}
