.kotzPage {
  min-height: 100vh;
  width: 100%;
  /* padding: 7em; */
  display: flex;
  flex-flow: row wrap;
  background: var(--color-dark-black);
  color: var(--color-white);
  /* grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr)); */

  /* grid-template-columns: minmax(auto, 26ch) 1fr; */
  align-content: center;
  align-items: start;
  gap: 3em;
  font: var(--fs-400) var(--ff-david-vc);
  align-content: stretch;
  align-items: start;
  overflow: auto;

  & > .sideInfo {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    flex: 3;
    min-width: 12ch;
    padding: 2em;
    /* max-width: 26ch; */

    & > main {
      display: flex;
      flex-flow: column nowrap;
      gap: 1em;

      & > .aboutBody {
        & > p {
          font-size: var(--fs-700);
          line-height: 1.2em;
          font-weight: 700;
        }
      }

      & > header {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.7em;

        & > h1 {
          font-weight: 800;
        }

        & > h2 {
          font-weight: 400;
        }
      }

      & > nav {
        display: flex;
        flex-flow: column nowrap;

        font-family: var(--ff-narkis-yair);
        font-size: var(--fs-300);
        color: var(--color-black);
      }
    }
  }

  & .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    gap: 3em;
    align-content: center;
    flex: 1;
    justify-items: center;
    padding: 7em 3em;
    border-right: 2px solid var(--color-white);
  }
}

.sideInfo footer {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
  padding: 0 1em;
}


.gridItem {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;

  &:hover {
    & img {
      scale: 1.1;
    }
  }

  &:active {
    & img {
      scale: 1.15;
    }
  }

  &.unpublished {
    cursor: auto;
  }

  & .details {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.3em;
  }

  & img {
    transition: scale 0.1s ease-out;
  }

  & h1 {
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
  }

  & .guests {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: var(--fs-400);
    max-width: 32ch;
  }

  & p {
    font-family: var(--ff-narkis-yair);
    margin: 0;

    &:not(:last-child)::after {
      content: "*";
      margin: 0 0.3em;
    }
  }
}

.header {
  text-align: center;
}

@media (max-aspect-ratio: 1) {
  .kotzPage {
    padding: 4em 3em;
  }
}
