* {
  --border-size: 3px;
}

.outer {
  display: flex;
  height: 100%;

  & > .nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    font-family: var(--ff-leon);
    gap: var(--border-size);
    background-color: black;
    padding: var(--border-size);
    padding-inline-end: 0;

    & .navItem {
      background-color: var(--color-theme-background);
      cursor: pointer;
      padding: 10px;
      font-size: 18px;
      color: #333;
      flex-grow: 1;
      transition: all 0.1s ease-out;

      &:hover,
      &.activeNavItem {
        background-color: red;
      }
    }
  }

  & > .articles {
    display: flex;
    flex-direction: row-reverse;
    flex: 3;
    gap: var(--border-size);
    background-color: black;
    padding: var(--border-size);

    & > .articleOuter {
      &.notActive {
        display: none;
      }

      & > .topBar {
        position: sticky;
        top: 0;
        height: clamp(20px, 5dvh, 40px);
        background-color: red;
        outline: var(--border-size) solid black;
        display: flex;
        justify-content: end;

        & > .xButton {
          height: 100%;
          background-color: white;
          outline: var(--border-size) solid black;
          aspect-ratio: 1;
          cursor: pointer;
          display: flex;
          flex-flow: column;
          justify-content: center;
          position: relative;

          &::before,
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            background-color: black;
          }

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }
        }
      }

      & > article {
        height: 100dvh;
        overflow: auto;
      }
    }

    & .articleIsNotOpen ~ .toTop {
      display: none;
    }

    & > .toTop {
      position: absolute;
      z-index: 3;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 20px auto;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-theme-foreground);
      box-shadow: 0px 1px 8px 2px rgb(0 0 0 / 3%);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      opacity: 0;
      transition: all 0.1s ease-in-out;
      pointer-events: none;

      & > .topArrow {
        filter: none;
        margin-block-end: 2px;
        filter: drop-shadow(0 0 3px black);
      }

      &.scrolled {
        opacity: 0.5;
        cursor: pointer;
        pointer-events: all;
      }
    }
  }
}

/* Landscape */
@media (min-aspect-ratio: 1) {
  .outer {
    flex-direction: row;
  }
}

/* Portrait */
@media (max-aspect-ratio: 1) {
  .outer {
    /* flex-direction: column; */
    .nav {
      flex: none;
      width: 10vw;
      transition: width 0.3s ease-in-out;
      padding-inline-end: var(--border-size);
      outline: var(--border-size) solid black;
      &:hover {
        width: 200px; /* Adjust as needed */
      }
      
      .navItem {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .articles {
      flex-direction: row;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      .articleOuter {
        min-width: 100%;
        scroll-snap-align: start;
      }
    }
  }
}
